<div class="page-container">
    <h1>Property List</h1>
    <table id="properties">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Frontage</th>
                <th scope="col">Floors</th>
                <th scope="col">Square Feet</th>
                <th scope="col">Lanai</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            <% @properties.each do | property | %>
                <tr>
                    <td><%= property.number %></td>
                    <td><%= property.frontage %></td>
                    <td><%= property.floors %></td>
                    <td><%= property.square_feet %></td>       
                    <td><%= property.lanai %></td>
                    <td><%= property.view %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

