<div class="page-container">
    <h2><%= @property.full_address %></h2>
    <p>
    Square Feet: <%= @property.square_feet %><br/>
    Lanai: <%= @property.lanai %><br/>
    Floors: <%= @property.floors %><br/>
    Frontage: <%= @property.frontage %><br/>
    View: <%= @property.view %><br/>
    </p>
</div>